autom4te.cache
aclocal.m4
config.h.in*
configure
gImageReader.creator.user
intltool-extract.in
intltool-merge.in
intltool-update.in
Makefile.in
data/Makefile.in
src/Makefile.in
po/POTFILES
po/stamp-it
po/Makefile.in.in~
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
build*
packaging/win32/*.exe
