[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gimagereader-gtk
Comment=Start gImageReader
Comment[it_IT]=Avvia gImageReader
Icon=gImageReader
Icon[it_IT]=gImageReader
Name=gImageReader
Name[it_IT]=gImageReader
Categories=Utility
