[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gimagereader-qt5
Comment=Start gImageReader-qt5
Comment[it_IT]=Avvia gImageReader-qt5
Icon=gImageReader
Icon[it_IT]=gImageReader
Name=gImageReader-qt5
Name[it_IT]=gImageReader-qt5
Categories=Utility
