[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gimagereader-gtk
Comment=Start gImageReader-gtk
Comment[it_IT]=Avvia gImageReader-gtk
Icon=gImageReader
Icon[it_IT]=gImageReader
Name=gImageReader-gtk
Name[it_IT]=gImageReader-gtk
Categories=Utility
