Source: gimagereader
Section: graphics
Priority: optional
Maintainer: Sandro Mani <manisandro@gmail.com>
Build-Depends: debhelper (>= 9),
 cmake,
 intltool,
 libdjvulibre-dev,
 libgtkspellmm-3.0-dev,
 libgtkmm-3.0-dev,
 libgtksourceviewmm-3.0-dev,
 libcairomm-1.0-dev,
 libpoppler-glib-dev,
 libtesseract-dev,
 libsane-dev,
 qtbase5-dev,
 qttools5-dev,
 qttools5-dev-tools,
 libqtspell-qt5-dev,
 libpoppler-qt5-dev,
 libjson-glib-dev,
 libxml++2.6-dev,
 libpodofo-dev,
 libquazip5-dev,
 libquazip5-headers,
 libzip-dev,
 python3-gi
Standards-Version: 3.9.4
Homepage: https://github.com/manisandro/gImageReader

Package: gimagereader-gtk
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gimagereader-common (= ${binary:Version})
Replaces: gimagereader
Conflicts: gimagereader
Description: A graphical frontend to tesseract-ocr
 gImageReader is a simple front-end to tesseract. Features include:
  - Import PDF documents and images from disk, scanning devices, clipboard and screenshots
  - Process multiple images and documents in one go
  - Manual or automatic recognition area definition
  - Recognize to plain text or to hOCR documents
  - Recognized text displayed directly next to the image
  - Post-process the recognized text, including spellchecking
  - Generate PDF documents from hOCR documents
 This package contains the Gtk+ front-end.

Package: gimagereader-qt
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gimagereader-common (= ${binary:Version})
Suggests: qt5-image-formats-plugins
Description: A graphical frontend to tesseract-ocr
 gImageReader is a simple front-end to tesseract. Features include:
  - Import PDF documents and images from disk, scanning devices, clipboard and screenshots
  - Process multiple images and documents in one go
  - Manual or automatic recognition area definition
  - Recognize to plain text or to hOCR documents
  - Recognized text displayed directly next to the image
  - Post-process the recognized text, including spellchecking
  - Generate PDF documents from hOCR documents
 This package contains the Qt front-end.

Package: gimagereader-common
Architecture: all
Depends: ${misc:Depends}
Conflicts: gimagereader (<< 2.94-1)
Description: Common files for gimagereader
 This package contains common files for gimagereader.

Package: gimagereader-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}
Description: Debugging symbols for gimagereader
 This package contains the debugging symbols for gimagereader.
