[Desktop Entry]
_Name=gImageReader
_Comment=OCR application
Exec=gimagereader %U
Icon=gimagereader
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;
